.navbar-title{
    font-size: 30px;
    font-family: 'TNH-Xuong';
}

.navbar-item{
    font-family: 'TNH-Xuong';
}

.navbar-subitem{
    font-family: 'TNH-Xuong';
}

.dropdown-menu{
    background-color: #f6d3f1;
}

.navbar-subitem:hover{
    background-color: #e753d6;
}

.nav-color{
    background-color: #f4a2ea !important;
}

.input-search{
    font-family: 'TNH-Xuong';
}

.btn-search{
    font-family: 'TNH-Xuong';
    min-width: 80px;
}

