<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>My family</title>

  <link rel="stylesheet" href="../bootstrap-5.3.3-dist/css/bootstrap.min.css">


  <link rel="stylesheet" href="../css/all.css">
  <link rel="stylesheet" href="../font/fonts.css">
  <link rel="stylesheet" href="../css/navbar.css">
  <link rel="stylesheet" href="../css/home.css">
  <!-- icon -->
  <link rel="stylesheet" href="../icons/css/all.css">
  <link rel="stylesheet" href="../icons/css/sharp-solid.css">
  <link rel="stylesheet" href="../icons/css/sharp-regular.css">

  <script src="../bootstrap-5.3.3-dist/js/bootstrap.bundle.min.js"></script>

</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary nav-color">
    <div class="container-fluid">
      <a class="navbar-brand mx-3 navbar-title" href="#">My family</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 300px;">
          <li class="nav-item">
            <a class="nav-link mx-3 navbar-item active" aria-current="page" href="home">Trang chủ</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mx-3 navbar-item" href="collection-list">Bộ sưu tập</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link mx-3 navbar-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Ảnh cưới
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item navbar-subitem" href="#">Đám cưới Xoa</a></li>
              <li><a class="dropdown-item navbar-subitem" href="#">Đám cưới Thùy Linh</a></li>
              <li><a class="dropdown-item navbar-subitem" href="#">Đám cưới Phượng Linh</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item navbar-subitem" href="#">Đám hỏi Phượng Linh</a></li>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 input-search" type="search" placeholder="Tìm kiếm bộ sưu tập" aria-label="Search">
          <button class="btn btn-outline-dark btn-search" type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </form>
      </div>
    </div>
  </nav>

  <div class="container-fluid">

    <div class="row">
      <div class="col-design col-12">
        <div class="col-design col-title">
          <h2>
            Gia đình là gì nào?
          </h2>
        </div>
      </div>

      <div class="row">
        <div class="col-design col-lg-4 col-12">
          <div class="col-design col-text ">
            <h2>
              Gia đình là số 1!
            </h2>
            <p>
              Xin chào mọi người! Mình là Tuệ Nghi, mọi người hay gọi mình là Mẫn Mẫn và đây là đại gia đình của mình.
            </p>
          </div>

        </div>
        <div class="col-lg-8 col-12">
          <div class="col-design col-img">
            <img src="../images/HomeImages/gia-dinh.jpg" class="img-thumbnail" alt="">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-12">
          <div class="col-design col-img">
            <img src="../images/HomeImages/Ba-Me-TueNghi.jpg" class="img-thumbnail" alt="">
          </div>
        </div>
        
        <div class="col-design col-lg-6 col-12">
          <div class="col-design col-text ">
            <h2>
              Đây là ai vậy?
            </h2>
            <p>
              Đây là Tuệ Nghi và ông bà ngoại của Nghi, ông ngoại tên Tài, bà ngoại tên Hường
            </p>
          </div>

        </div>
        
      </div>

      <div class="row">
        <div class="col-design col-lg-6 col-12">
          <div class="col-design col-text ">
            <h2>
              Anh Hai
            </h2>
            <p>
              Còn đây là anh Hai mình, mình và anh Hai thường chơi với nhau tuy đôi lúc anh Hai hay giành đồ chơi mình nhưng anh Hai rất thương con và con cũng rất thích anh Hai
            </p>
          </div>

        </div>
        <div class="col-lg-6 col-12">
          <div class="col-design col-img">
            <img src="../images/HomeImages/Huy-Man.jpg" class="img-thumbnail" alt="">
          </div>
        </div>
      </div>

      <div class="row flex-wrap-reverse">
        <div class="col-lg-6 col-12">
          <div class="col-design col-img">
            <img src="../images/HomeImages/Gia-dinh-Nghi.jpg" class="img-thumbnail" alt="">
          </div>
        </div>
        <div class="col-design col-lg-6 col-12">
          <div class="col-design col-text ">
            <h2>
              Gia đình nhỏ của Nghi
            </h2>
            <p>
              Đây là gia đình nhỏ của Nghi, bên trái là mẹ Nghi tên là Linh, bên Phải là cha Nghi tên là Ân
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-design col-lg-6 col-12">
          <div class="col-design col-text ">
            <h2>
              Gia đình nhỏ của Huy
            </h2>
            <p>
              Đây là gia đình nhỏ của Huy, bê trái là cha Huy tên là Ngọc, bên phải là mẹ Huy tên là Xoa
            </p>
          </div>

        </div>
        <div class="col-lg-6 col-12">
          <div class="col-design col-img">
            <img src="../images/HomeImages/Gia-dinh-Huy.jpg" class="img-thumbnail" alt="">
          </div>
        </div>
      </div>
    </div>

    <div class="row flex-wrap-reverse">
      <div class="col-lg-6 col-12">
        <div class="col-design col-img">
          <img src="../images/HomeImages/Linh-Phuc.JPG" class="img-thumbnail" alt="">
        </div>
      </div>
      <div class="col-design col-lg-6 col-12">
        <div class="col-design col-text ">
          <h2>
            Dì Tư và dượng Tư
          </h2>
          <p>
            Đây gia đình của dì Tư, có 2 người thôi! Bên phải là dì Tư tên Phượng Linh, bên trái là dượng tư tên Phúc
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-design col-lg-6 col-12">
        <div class="col-design col-text ">
          <h2>
            Dì Năm
          </h2>
          <p>
            Đây là dì Năm của Nghi, dì năm lên là Luyến. Dì Năm chưa có chồng đâu nha!!
          </p>
        </div>

      </div>
      <div class="col-lg-6 col-12">
        <div class="col-design col-img">
          <img src="../images/HomeImages/Luyen.jpg" class="img-thumbnail" alt="">
        </div>
      </div>
    </div>

    <div class="row flex-wrap-reverse">
      <div class="col-lg-6 col-12">
        <div class="col-design col-img">
          <img src="../images/HomeImages/Ba-Me-Khang.jpg" class="img-thumbnail" alt="">
        </div>
      </div>
      <div class="col-design col-lg-6 col-12">
        <div class="col-design col-text ">
          <h2>
            Cậu Út
          </h2>
          <p>
            Người đững giữa ông bà ngoại là cậu Út. Hiếm lắm mới gặp được Út vì bình thường Út ở trong phòng không à!
          </p>
        </div>
      </div>
    </div>
  </div>
</body>

</html>