.card{
    overflow: hidden;
    
}

.card img:hover{
    transform: scale(1.2);
}

.card img{
    transition: transform 0.6s ease-in-out;
}

.title h2{
    font-size: 80px;
    font-family: 'Shelia VNF';
    text-align: center;
    margin: 40px 0;
}

.title p{
    font-size: 25px;
    text-align: center;
    width: 85%;
}



