.card:hover{
    transform: scale(1.1);
}

.card{
    transition: transform 0.6s ease-in-out;
    min-width: 250px;
}

.card h5{
    font-weight: 600;
}

.title h2{
    font-size: 80px;
    font-family: 'Shelia VNF';
    text-align: center;
    margin: 40px 0;
}

.title p{
    font-size: 25px;
    text-align: center;
    width: 85%;
}
.carousel-item img{
    max-height: 450px;
    object-fit: contain; 
    object-position: center;
}


@media (max-width: 1200px){
    .carousel-item img{
        max-height: 450px;
    }
}

@media (max-width: 992px){
    .carousel-item img{
        max-height: 400px;
    }
}

@media (max-width: 768px){
    .carousel-item img{
        max-height: 350px;
    }
}

@media (max-width: 576px){
    .carousel-item img{
        max-height: 300px;
    }
}